<?xml version='1.0' encoding='utf-8'?>
<widget id="com.themaxtech.school" version="1.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>School Access</name>
    <description>
      Welcome to School Access
    </description>
    <author email="maxtechapps@gmail.com" href="http://themaxtech.com">
        ARUN G
    </author>

    <feature name="http://api.phonegap.com/1.0/device" /> 
    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="cli-6.5.0" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" /> 
    <preference name="DisallowOverscroll" value="true" />
    <!-- Don't hide the O/S's status bar -->
    <preference name="fullscreen" value="false" />
    <!-- iOS: Obey the app's viewport meta tag -->
    <preference name="EnableViewportScale" value="true"/>
    <preference name="WindowsToastCapable" value="true"/>      
    <feature name="Push">
      <param name="wp-package" value="Push" />
      <param name="onload" value="false" />
    </feature>      
    <icon src="icon.png" />
    
    <icon gap:platform="ios" height="57" src="res/icon/ios/icon-57.png" width="57" />
    <icon gap:platform="ios" height="72" src="res/icon/ios/icon-72.png" width="72" />
    <icon gap:platform="ios" height="114" src="res/icon/ios/icon-57-2x.png" width="114" />
    <icon gap:platform="ios" height="144" src="res/icon/ios/icon-72-2x.png" width="144" />
    
    <gap:splash gap:platform="ios" height="480" src="res/screen/ios/screen-iphone-portrait.png" width="320" />
    <gap:splash gap:platform="ios" height="960" src="res/screen/ios/screen-iphone-portrait-2x.png" width="640" />
    <gap:splash gap:platform="ios" height="1136" src="res/screen/ios/screen-iphone-portrait-568h-2x.png" width="640" />
    <gap:splash gap:platform="ios" height="1024" src="res/screen/ios/screen-ipad-portrait.png" width="768" />
    <gap:splash gap:platform="ios" height="768" src="res/screen/ios/screen-ipad-landscape.png" width="1024" />
 
 <plugin name="cordova-plugin-push-notification" spec="2.5.2" />
 
<plugin name="org.apache.cordova.battery-status" source="pgb" spec="0.2.12" />

<plugin name="org.apache.cordova.camera" source="pgb" spec="0.3.6" />

<plugin name="org.apache.cordova.console" source="pgb" spec="0.2.13" />

<plugin name="org.apache.cordova.contacts" source="pgb" spec="0.2.16" />

<plugin name="org.apache.cordova.device" source="pgb" spec="0.3.0" />

<plugin name="org.apache.cordova.device-motion" source="pgb" spec="0.2.11" />

<plugin name="org.apache.cordova.device-orientation" source="pgb" spec="0.3.11" />

<plugin name="org.apache.cordova.dialogs" source="pgb" spec="0.3.0" />

<plugin name="org.apache.cordova.file" source="pgb" spec="1.3.3" />

<plugin name="org.apache.cordova.file-transfer" source="pgb" spec="0.5.0" />

<plugin name="org.apache.cordova.geolocation" source="pgb" spec="0.3.12" />

<plugin name="org.apache.cordova.globalization" source="pgb" spec="0.3.4" />

<plugin name="org.apache.cordova.inappbrowser" source="pgb" spec="0.6.0" />

<plugin name="org.apache.cordova.media" source="pgb" spec="0.2.16" />

<plugin name="org.apache.cordova.media-capture" source="pgb" spec="0.3.6" />

<plugin name="org.apache.cordova.network-information" source="pgb" spec="0.2.15" />

<plugin name="org.apache.cordova.splashscreen" source="pgb" spec="1.0.0" />

<plugin name="org.apache.cordova.vibration" source="pgb" spec="0.3.13" />

    <access origin="*" />
</widget> 
